body{
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    text-align: center;
}

/* Style the navigation menu */

.topnav {
    overflow: hidden;
    background-color: #33cccc;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .container{
    position:relative;
    padding: 14px;
}  

footer{
      font-size: 10px;
  }
